html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}

#ui h1, #ui #controls {
  pointer-events: auto;
}

#ui h1 {
  font-size: 30pt;
  text-align: left;
  color: white;
  margin-left: 20px;
  font-family: 'Berkshire Swash', serif;
}

#ui #controls {
  position: absolute;
  top: 90px;
  left: 10px;
  background: rgba(64, 64, 64, 0.7);
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}

#controls h3 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.control {
  margin-bottom: 20px;
}

.control .key {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.control .description {
  margin-left: 30px;
  text-align: left;
  display: block;
}

#controls {
  color: white
}

#soundButton {
  width: 120px;
  height: 50px;
  background: #4CAF50;
  border: 1px solid #ddd;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 400px;
  pointer-events: auto;
}

#loseQuote {
  display: none;
  position: absolute;
  width: 100%;
  height: 100px;
  color: red;
  font-size: 50px;
  font-family: 'Berkshire Swash', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center the text horizontally */
  line-height: 100px; /* Vertically center the text in the div */
}

#winQuote {
  display: none;
  position: absolute;
  width: 100%;
  height: 100px;
  color: #4CAF50;
  font-size: 50px;
  font-family: 'Berkshire Swash', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100px;
}