html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  position: relative;
}

canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}

#ui h1, #ui #controls {
  pointer-events: auto;
}

#ui h1 {
  font-size: 30pt;
  text-align: left;
  color: white;
  margin-left: 20px;
  font-family: 'Berkshire Swash', serif;
}

#ui #controls {
  position: absolute;
  top: 170px;
  left: 10px;
  background: rgba(64, 64, 64, 0.7);
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}

#controls h3 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.control {
  margin-bottom: 20px;
}

.control .key {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.control .description {
  margin-left: 30px;
  text-align: left;
  display: block;
}

#controls {
  color: white
}

#soundButton {
  width: 150px;
  height: 50px;
  background: #4CAF50;
  border: 1px solid #ddd;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  align-items: center;
}

#soundButton img {
  margin-right: 8px;
}

#controlsButton {
  background: #007bff;
  width: 180px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  align-items: center;
}

#controlsButton img {
  margin-right: 8px;
}

#restartButton {
  background: transparent;
  border-radius: 8px;
  position: absolute;
  color: whitesmoke;
  width: 200px;
  height: 50px;
  font-size: 20px;
  top: calc(50% + 60vw * 9 / 16);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1002;
}

#loseImage, #winImage {
  width: 100%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10px;
  gap: 10px;
}

#buttons button {
  display: flex;
  align-items: center;
  gap: 5px;
}